body {
  font-family: sans-serif;
  position: relative;
}

.widget {

  text-align: center;
  padding: 50px;
  position: relative;

}

.popover {
  position: absolute;
  width: 200px;
  padding: 5px;
  margin: 20;
}


.popover-text {
  font-style: italic;
}